html,
body {
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.controller{
    position: absolute;
    top: -27px;
    left: calc(50% - 78px);
    border-radius: 20px;
    height: 32px;
    width: 124px;
    padding-top: 31px;
    padding-bottom: 4px;
    text-align: center;
    z-index: 200;
    background-color: rgba(0,0,0, 0.2);
    backdrop-filter: blur(3px);
}
.controlButton{
    position: relative;
    height: inherit;

}
.controlButton:hover{
    cursor: pointer;
}
table{
    text-align: left;
    margin: 0 0 6px 0;
}
tr{
    margin: 0;
    padding: 0;
}
.firstColumn{
    text-align: left;
    font-weight: normal;
    width: 150px;
    padding-left: 7px;
    margin: 0;
}
.secondColumn{
    text-align: left;
    font-weight: normal;
    margin: 0px;
}
.fat{
    font-weight: bold;
}
.print{
    display: none;
}
a{
    height: inherit;
    direction: none;
    margin: 2px;
}

.mainDiv{
    min-width: 600px;
    max-width: 900px;
    text-align: left;
    margin: 0;
    padding: 30px 20px 120px 20px;
    box-shadow: 5px -10px 10px 4px #7e7e7e;
    font-size: 1.01em;
}
h2{
    margin: 0;
    margin-left: 9px;
    font-size: 1.2em;
}

p{
    margin: 3px 15px 10px 9px;
}

.mainImg{
    width: 100px;
    position: absolute;
    right: 2vw;
    top: 10px;  
    box-shadow: 4px 4px 10px -1px #7e7e7e;
}
hr{
    width: auto;
    margin: -7.5px 20px 12px 9px;
}


/**
    x = screenSize - 284 
*/
@media only screen and (min-width: 920px) {
    .mainImg{
        position: absolute;
        left: 777px;  
    }
    .controller{
        left: 400px;
    }
}
@media print {
    .controller{
        display: none;
    }
    .print{
        display: table-row;
    }
    .special-hr{
        display: none;
    }
    .mainDiv{
        margin: 0;
        padding-bottom: 0;
        padding-top: 9px;
        box-shadow: none;
        
    }
    .mainImg{
        top: 0; 
    }
  }