html,
body {
    width: 100%;
    min-width: 500px;
    height: 100%;
    margin: 0;
}

.para {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 10px;
    margin-left: 0px;
}

.headDiv {
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    height: 88px;
    width: calc(4% + 210px);
    left: 1%;
    top: 0px;
    text-align: center;
    box-shadow: 4px 4px 10px 2px #7e7e7e;
    z-index: 300;
}

.button {
    text-align: center;
    width: 210px;
    border: none;
    height: 42px;
    margin-top: 18px;
    box-shadow: -3px 5px 10px #515151;
    background-color: #1a3256;
    color: #FFFFFF;
    font-size: 25px;
    transition: all .15s ease-in-out;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: -6px 6px 10px #515151;
    cursor: pointer;
}

.menu {
    width: 150px;
    margin-top: 5px;
    transition: all .2s ease-in-out;
    box-shadow: -6px 8px 13px #484848;
}

.menu:hover,
.menuButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #515151;
}


.buttonDiv {
    text-align: center;
    padding: 0 2% 0px 2%;
    width: 210px;
    min-height: 300px;
    height: calc(100% - 97px);
    position: absolute;
    left: 1%;
    margin-left: 0;
    top: 97px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 4px 4px 10px 2px #7e7e7e;
    z-index: 200;
    
}

.bottomInfo {
    position: absolute;
    padding: 0 0 0.5%;
    bottom: 0px;
    height: auto;
    text-align: left;
}

.mainDiv {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.mainFrame {
    top:0px;
    display: inline;
    position: absolute;
    border: none;
    margin: 0;
    width: calc(100% - (210px + 5%));
    height: 100%;
    left: calc(5% + 210px);
}

.over {
    font-weight: normal;
    top: 0px;
    margin-top: 0;
    font-size: 28px;
    padding: 25px calc(3% + 13px);
    text-shadow: -3px 4px 7px #515151;
}

.over-black {
    align-self: center;
    top: 0px;
    margin-top: 0;
    font-size: 174%;
    color: white;
    padding: 25px 35px;
    text-shadow: -3px 4px 7px #aeaeae;
}

.headText {
    margin-bottom: 0.1in;
    line-height: 120%;
    font-family: "Tahoma", monospace;
    font-size: 30px;
}

.pre {
    font-family: "Tahoma", monospace;
    font-size: 15px;
    line-height: 20px;
    text-align: -webkit-left;
    padding-left: 1px;
}

.menuButton {
    color: #FFFFFF;
    font-size: 45px;
    background-color: #1a3256;
    box-shadow: -3px 5px 10px #515151;
    border: none;
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc(2% + 5px);
    top: 13px;
    display: none;
}

.filler {
    background-color: white;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50%;
    height: 15%;
    z-index: 250;
}

.sideButtonDiv {
    padding-left: 200px;
    display: none;
    text-align: right;
    width: calc(3% + 380px);
    max-width: 540px;
    height: auto;
    background-color: rgba(255, 39, 0, 0.65);
    position: absolute;
    z-index: 195;
    animation: sideMove .3s forwards ease-out;
}

@keyframes sideMove {
    0% {
        left: 4%;
        z-index: 0;
    }
    100% {
        left: 3%;
        z-index: 210;
    }
}

@media screen and (orientation: portrait) {
    .menuButton {
        display: inherit;
    }
    .buttonDiv {
        display: none;
        top: calc(111px - 100%);
        animation: mymove .6s forwards ease-out;
    }
    @keyframes mymove {
        0% {
            top: calc(111px - 100%);
            opacity: 0;
        }
        100% {
            top: 97px;
            opacity: 1;
        }
    }
    .mainFrame {
        width: 99%;
        left: 0px;
        top: 88px;
    }
    .headDiv {
        width: 98%;
    }

    
}

@media screen and (orientation: landscape) {
    .buttonDiv {
        display: inherit !important;
    }
}

@media screen and (max-height: 584px) {
    .bottomInfo {
        position: initial;
    }
    .buttonDiv{
        overflow-y: scroll;
    }
}
